.input {
  width: 370px;
  height: 45px;
  border: var(--border-width-1) solid var(--color-primary);
  border-radius: var(--radius-md);
  padding-inline: var(--space-3);
  outline: none;
}

.input:focus {
  border-color: var(--color-primary-hover);
}
